/* ***** TAG's SET ***** */
* {
    /* Box Model */
    box-sizing: border-box;
}
:root {
    --bg-color: #fffaf5;
    --heading-text-color: #000958;
}
html {
    /* Text */
    font-size: 62.5%;
    /* Animation */
    scroll-behavior: smooth;
}
body {
    /* Text */
    font: 1.6rem "Poppins", sans-serif;
    /* Color */
    background-color: var(--bg-color);
}
a {
    /* Text */
    text-decoration: none;
}
h1,
h2,
h3 {
    /* Text */
    font: 1.6rem "Sora", sans-serif;
}
input,
textarea,
select,
button {
    /* Text */
    font-family: inherit;
    font-size: inherit;
}
/* ********************* */

/* ***** COMMON CLASSES ***** */
.container {
    /* Box Model */
    display: block;
    width: 1140px;
    max-width: calc(100% - 40px);
    margin: 0 auto;
}
.btn {
    /* Variable */
    --min-width-btn: 130px;
    --height-btn: 56px;
    --color-btn: #ff5b2e;
    /* Flexbox Model */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* Box Model */
    min-width: var(--min-width-btn);
    height: var(--height-btn);
    border: 1px solid;
    border-radius: 99px;
    /* Color */
    color: var(--color-btn);
    background-color: transparent;
    border-color: var(--color-btn);
    /* Text */
    font-weight: 500;
    /* Other */
    cursor: pointer;
    transition-duration: 0.3s;
}
.btn:hover,
.btn--reverse {
    /* Color */
    color: #fff;
    background-color: var(--color-btn);
}
.btn--reverse:hover {
    /* Color */
    color: var(--color-btn);
    background-color: transparent;
}
.btn-icon {
    /* Flexbox Model */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Box Model */
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 50%;
    margin-left: 10px;
    /* Color */
    color: var(--color-btn);
    background-color: #fff;
    border-color: var(--color-btn);
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
    /* Other */
    transition-duration: 0.3s;
}
.btn:hover .btn-icon {
    /* Color */
    color: #fff;
    background-color: var(--color-btn);
}
.section-heading {
    /* Color */
    color: #000958;
    /* Text */
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.19;
}
.section-desc {
    /* Box Model */
    margin-top: 24px;
    /* Color */
    color: #656689;
    /* Text */
    font-weight: 400;
    line-height: 1.875;
}
/* ************************** */

/* +++++ HEADER +++++ */
.header {
    /* Box Model */
    margin-top: 14px;
    padding: 12px 0;
    /* Color */
    background-color: rgba(255, 250, 245, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.header--sticky {
    /* Positioning */
    position: sticky;
    top: -1px;
    z-index: 99;
}
.header__inner {
    /* Flexbox Model */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Logo */
.header__logo-link {
    /* Flexbox Model */
    display: flex;
}
/* Navigation Bar */
.navbar__list {
    /* Flexbox Model */
    display: flex;
    align-items: center;
}
.navbar__link {
    /* Box Model */
    padding: 10px 13px;
    /* Color */
    color: #5e6085;
    /* Text */
    font-weight: 500;
    font-size: 1.4rem;
}
.navbar__link:hover {
    /* Color */
    color: #000958;
    /* Text */
    text-shadow: 1px 0 0 currentColor;
}
/* Header Action */
.header-act__link {
    /* Box Model */
    padding: 10px 13px;
    /* Color */
    color: #000958;
    /* Text */
    font-weight: 600;
    font-size: 1.4rem;
}
.header-act__link:hover {
    /* Text */
    text-decoration: underline;
    text-underline-offset: 6px;
}
.header-act__btn {
    /* Variable */
    --min-width-btn: 118px;
    --height-btn: 50px;
    --color-btn: #000958;
    /* Box Model */
    padding: 0 32px;
    /* Text */
    font-weight: 600;
    font-size: 1.4rem;
}
/* ++++++++++++++++++ */

/* +++++ MAIN +++++  */
/* ===== Hero =====  */
.hero {
    /* Box Model */
    margin-top: 88px;
}
.hero__inner {
    /* Flexbox Model */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* ----- Hero Media ----- */
.hero__media {
    /* Positioning */
    position: relative;
}
/* Hero Decoration Images */
.hero__decor-img {
    /* Positioning */
    position: absolute;
    z-index: -1;
}
.hero__decor-img-01 {
    /* Positioning */
    top: 246px;
    left: -58px;
}
.hero__decor-img-02 {
    /* Positioning */
    top: 16px;
    left: 378px;
}
/* Hero Images */
.hero__img-warp {
    /* Flexbox Model */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* Box Model */
    width: 388px;
    height: 488px;
    border: 3px solid;
    border-radius: 16px;
    overflow: hidden;
    /* Color */
    background-color: #fe997b;
    border-color: #fff;
}
.hero__img-warp-medium {
    /* Positioning */
    position: absolute;
    bottom: -58px;
    right: -163px;
    /* Box Model */
    width: 186px;
    height: 244px;
    /* Color */
    background-color: #faa7ad;
}
.hero__img {
    /* Box Model */
    max-width: 100%;
    max-height: 100%;
}
/* Hero List */
.hero-list {
    /* Positioning */
    position: absolute;
    bottom: -94px;
    right: 10px;
    /* Flexbox Model */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Box Model */
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    border-radius: 10px;
    /* Color */
    background-color: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}
.hero-list-item {
    /* Flexbox Model */
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.hero-list-item__thumb-warp {
    /* Box Model */
    width: 40px;
    height: 40px;
    border-radius: 10px;
    /* Color */
    background-color: #fec23f;
}
.hero-list-item:last-child .hero-list-item__thumb-warp {
    /* Color */
    background-color: #c6e2fa;
}
.hero-list-item__thumb {
    /* Box Model */
    width: 100%;
    height: 100%;
    /* Resize */
    object-fit: cover;
}
.hero-list-item__title {
    /* Color */
    color: #181e52;
    /* Text */
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
}
.hero-list-item__skeleton {
    /* Box Model */
    width: 118px;
    height: 4px;
    border-radius: 10px;
    margin-top: 6px;
    /* Color */
    background: #000958;
    opacity: 0.08;
}
.hero-list-item__skeleton + .hero-list-item__skeleton {
    /* Box Model */
    width: 39px;
}
.hero-list__line {
    /* Box Model */
    width: 100%;
    height: 2px;
    border-radius: 1px;
    /* Color */
    background-color: #f2f2f2;
}
/* ----- Hero Content ----- */
.hero__content {
    /* Box Model */
    width: 518px;
}
.hero__heading {
    /* Color */
    color: var(--heading-text-color);
    /* Text */
    font-weight: 800;
    font-size: 6.6rem;
    line-height: 1.15;
}
.hero__desc {
    /* Box Model */
    width: 392px;
}
.hero__row {
    /* Flexbox Model */
    display: flex;
    column-gap: 24px;
    align-items: center;
    /* Box Model */
    margin-top: 38px;
}
.hero__btn {
    /* Variable */
    --min-width-btn: 190px;
    --height-btn: 60px;
    /* Box Model */
    padding: 0 30px;
    /* Text */
    font-weight: 600;
}
.hero__btn:hover {
    /* Color */
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}
.hero__cta-link {
    /* Box Model */
    padding: 10px 0;
    /* Color */
    color: #000958;
    /* Text */
    font-weight: 500;
    line-height: 1;
}
.hero__cta-link:hover {
    /* Text */
    text-decoration-line: underline;
    text-underline-offset: 6px;
}
/* ===== ==== =====  */

/* ===== About ===== */
.about {
    /* Box Model */
    padding: 94px 0 52px;
    margin-top: 128px;
}
.about__inner {
    /* Grid Layout Model */
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 146px;
    align-items: center;
}
/* ----- About Content 01 ----- */
.about__label {
    /* Color */
    color: #5e6085;
    /* Text */
    font-family: "Sora", sans-serif;
    font-weight: 600;
    line-height: 1;
}
.about__heading {
    /* Box Model */
    width: 446px;
    margin-top: 15px;
}
.about__desc {
    /* Box Model */
    width: 430px;
}
.about__checklist {
    /* Grid Layout Model */
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 34px;
    /* Box Model */
    margin-top: 54px;
}
.about__check-item {
    /* Positioning */
    position: relative;
    /* Flexbox Model */
    display: flex;
    column-gap: 10px;
    align-items: center;
    /* Color */
    color: #48496a;
    /* Text */
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1;
}
.about__check-item::before,
.about__check-item::after {
    /* Box Model */
    content: "";
    display: inline-block;
}
.about__check-item::before {
    /* Box Model */
    width: 24px;
    height: 24px;
    border-radius: 4px;
    /* Color */
    background-color: #ff5d31;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
}
.about__check-item::after {
    /* Positioning */
    position: absolute;
    top: 4px;
    left: 5px;
    /* Box Model */
    width: 12px;
    height: 8px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    /* Color */
    border-color: #fff2e5;
    /* Transforms */
    rotate: -45deg;
}
/* ----- About Media 01 ----- */
.about__media {
    /* Positioning */
    position: relative;
}
/* About Card */
.about__card {
    /* Positioning */
    position: absolute;
    top: 165px;
    left: 0;
    /* Box Model */
    width: 136px;
    min-height: 156px;
    padding: 30px 26px;
    border-radius: 10px;
    /* Color */
    background: #5bd6e2;
    box-shadow: -15px 26px 48px rgba(85, 240, 255, 0.17);
    /* Text */
    text-align: center;
}
.about__card-title {
    /* Color */
    color: #fff;
    /* Text */
    font-family: "Sora", sans-serif;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1;
}
.about__card-desc {
    /* Box Model */
    margin-top: 15px;
    /* Color */
    color: #c6f4f9;
    /* Text */
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.43;
}
.about__card-decor {
    /* Positioning */
    position: absolute;
    top: -38px;
    right: -30px;
}
/* About Media Wrapper */
.about__img-wrap {
    /* Positioning */
    position: relative;
    /* Box Model */
    width: 495px;
    margin-left: auto;
}
.about__img-wrap::after {
    /* Positioning */
    position: absolute;
    /* inset: top bottom left right; */
    inset: auto 0 0 0;
    z-index: -1;
    /* Box Model */
    content: "";
    height: 336px;
    border-radius: 16px;
    /* Color */
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    box-shadow: 11px 18px 65px rgba(255, 155, 121, 0.12);
}
.about__img {
    /* Box Model */
    display: block;
    width: 450px;
    margin: 0 auto;
}
/* About Media Decoration */
.about__media-decor {
    /* Positioning */
    position: absolute;
    top: 156px;
    right: -50px;
    z-index: -2;
}
/* ----- About Media 02 ----- */
/* About Media Wrapper */
.about__img-wrap-bottom {
    /* Box Model */
    width: 458px;
    height: 500px;
    border: 2px solid;
    border-radius: 18px;
    margin-left: 0;
    /* Color */
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    border-color: #fff;
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}
.about__img-wrap-bottom::after {
    /* Box Model */
    content: none;
}
.about__img-bottom {
    /* Box Model */
    width: 100%;
    height: 100%;
    border-radius: 18px;
    /* Resize */
    object-fit: cover;
}
/* About Media Decorations */
.about__media-decor-bottom {
    /* Positioning */
    z-index: 0;
}
.about__media-decor-bottom:nth-child(1) {
    /* Positioning */
    top: 12px;
    right: 64px;
}
.about__media-decor-bottom:nth-child(2) {
    /* Positioning */
    top: -16px;
    right: 13px;
}
.about__media-decor-bottom:nth-child(3) {
    /* Positioning */
    top: 33px;
    right: -21px;
}
.about__media-decor-bottom:nth-child(4) {
    /* Positioning */
    top: 268px;
    right: -33px;
}
.about__media-decor-bottom:nth-child(5) {
    /* Positioning */
    top: 336px;
    right: 19px;
}
.about__media-decor-bottom:nth-child(6) {
    /* Positioning */
    top: 435px;
    right: -42px;
}
/* ----- About Content 02 ----- */
.about__content:nth-of-type(2) .about__heading {
    /* Box Model */
    width: 543px;
}
.about__content:nth-of-type(2) .about__desc {
    /* Box Model */
    width: 512px;
    margin-bottom: 50px;
}
/* About Table */
.about-tab__list {
    /* Positioning */
    position: relative;
    /* Flexbox Model */
    display: inline-flex;
    column-gap: 56px;
    align-items: center;
}
.about-tab__list::after,
.about-tab__content-more::after {
    /* Positioning */
    position: absolute;
    bottom: -12px;
    left: 0;
    /* Box Model */
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    /* Color */
    background-color: #ff5b2e;
    opacity: 0.07;
}
.about-tab__item {
    /* Positioning */
    position: relative;
    /* Flexbox Model */
    display: flex;
    column-gap: 10px;
    align-items: center;
    /* Box Model */
    height: 20px;
}
.about-tab__item--active::before {
    /* Positioning */
    position: absolute;
    bottom: -12px;
    left: 0;
    /* Box Model */
    content: "";
    display: inline-block;
    width: 95px;
    height: 2px;
    border-radius: 1px;
    /* Color */
    background-color: #ff5b2e;
}
.about-tab__title {
    /* Color */
    color: #48496a;
    /* Text */
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
}
.about-tab__contents {
    /* Box Model */
    padding-top: 48px;
}
.about-tab__content-item {
    /* Box Model */
    display: none;
}
.about-tab__content-item--active {
    /* Display */
    display: block;
}
.about-tab__content {
    /* Box Model */
    width: 392px;
    /* Color */
    color: #656689;
    /* Text */
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.71;
}
.about-tab__content-more {
    /* Positioning */
    position: relative;
    /* Display & Box Model */
    display: inline-block;
    margin-top: 32px;
    /* Color */
    color: #ff5d31;
    /* Text */
    font-weight: 500;
    line-height: 1;
}
.about-tab__content-more::after {
    /* Positioning */
    bottom: -7px;
    /* Box Model */
    height: 1.5px;
    /* Color */
    opacity: 1;
}
/* ===== ===== ===== */

/* ===== Service ===== */
.service {
    /* Box Model */
    padding: 68px 0 100px;
    margin-top: 133px;
    /* Color */
    background-color: #fff6ed;
}
.service__desc {
    /* Box Model */
    margin-top: 0;
    /* Text */
    text-align: center;
}
.service__heading {
    /* Box Model */
    margin-top: 15px;
    /* Text */
    text-align: center;
}
/* Service Body */
.service__body {
    /* Grid Layout Model */
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 70px;
    /* Box Model */
    margin-top: 70px;
}
.service-card {
    /* Box Model */
    width: 294px;
    height: 208px;
    padding: 30px 22px 30px 28px;
    border-radius: 10px;
    /* Color */
    background: #fff;
    border: 2px solid rgba(255, 188, 122, 0.26);
}
.service-card + .service-card {
    /* Box Model */
    margin-top: 24px;
}
.service-card__heading {
    /* Positioning */
    position: relative;
    /* Box Model */
    padding-left: 12px;
    /* Color */
    color: var(--heading-text-color);
    /* Text */
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
}
.service-card__heading::before {
    /* Positioning */
    position: absolute;
    top: 0;
    left: 0;
    /* Box Model */
    content: "";
    width: 2px;
    height: 22px;
    border-radius: 1px;
    /* Color */
    background-color: black;
    background-image: linear-gradient(to bottom, #ff5b2e, #ffa187);
}
.service-card__desc {
    /* Box Model */
    margin-top: 18px;
    /* Color */
    color: #656689;
    /* Text */
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.71;
}
.service-card__more {
    /* Flexbox Model */
    display: flex;
    align-items: center;
    /* Box Model */
    margin-top: 24px;
    /* Color */
    color: #34396a;
    /* Text */
    font-family: "Sora", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}
.service-card__more-icon {
    /* Box Model */
    margin-left: 10px;
}
.service__media {
    /* Positioning */
    position: relative;
    /* Box Model */
    margin-top: 56px;
    border-radius: 10px;
    overflow: hidden;
}
.service__media::after {
    /* Positioning */
    position: absolute;
    inset: 0;
    /* Box Model */
    content: "";
    display: inline-block;
    width: 410px;
    height: 350px;
    border-radius: 10px;
    margin: auto auto 0;
    /* Color */
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}
.service__img {
    /* Positioning */
    position: relative;
    z-index: 1;
    /* Box Model */
    display: block;
    width: 100%;
}
.service__cta-wrap {
    /* Box Model */
    margin-top: 45px;
    /* Text */
    text-align: center;
}
.service__cta-btn {
    /* Variable */
    --min-width-btn: 214px;
}
/* ===== ======= ===== */

/* ===== Staff ===== */
.staff {
    /* Box Model */
    padding: 130px 0;
}
.staff__desc,
.staff__heading {
    /* Text */
    text-align: center;
}
.staff__heading {
    /* Box Model */
    margin-top: 15px;
}
.staff__list {
    /* Grid Layout Model */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
    /* Box Model */
    margin-top: 45px;
}
.staff-item {
    /* Text */
    text-align: center;
}
.staff-item__img-wrap {
    /* Positioning */
    position: relative;
    /* Flexbox Model */
    display: flex;
    justify-content: center;
    /* Box Model */
    height: 300px;
    border-radius: 130px;
    margin: 0 16px;
}
.staff-item__img-wrap::before {
    /* Positioning */
    position: absolute;
    bottom: 0;
    left: 0;
    /* Box Model */
    content: "";
    display: inline-block;
    width: 100%;
    height: 88%;
    border-radius: 130px;
}
.staff-item__img-wrap::after {
    /* Positioning */
    position: absolute;
    left: 50%;
    /* Box Model */
    content: "";
    width: calc(100% + 50px);
    height: 100%;
    /* Transform */
    background-repeat: no-repeat;
    background-size: 100%;
    transform: translateX(-50%);
}
.staff-item:nth-child(1) .staff-item__img-wrap::before {
    /* Color */
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}
.staff-item:nth-child(1) .staff-item__img-wrap::after {
    /* Box Model */
    background-image: url(../img/icon/staff-decor-icon-01.svg);
}
.staff-item:nth-child(2) .staff-item__img-wrap::before {
    /* Color */
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}
.staff-item:nth-child(2) .staff-item__img-wrap::after {
    /* Box Model */
    background-image: url(../img/icon/staff-decor-icon-02.svg);
}
.staff-item:nth-child(3) .staff-item__img-wrap::before {
    /* Color */
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}
.staff-item:nth-child(3) .staff-item__img-wrap::after {
    /* Box Model */
    background-image: url(../img/icon/staff-decor-icon-03.svg);
}
.staff-item:nth-child(4) .staff-item__img-wrap::before {
    /* Color */
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}
.staff-item:nth-child(4) .staff-item__img-wrap::after {
    /* Box Model */
    background-image: url(../img/icon/staff-decor-icon-04.svg);
}
.staff-item:nth-child(odd) .staff-item__img-wrap::after {
    /* Positioning */
    background-position: bottom;
}
.staff-item:nth-child(even) .staff-item__img-wrap::after {
    /* Positioning */
    background-position: 0 28px;
}
.staff-item__img {
    /* Positioning */
    position: relative;
    z-index: 1;
    /* Display & Box Model */
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    /* Resize */
    object-fit: cover;
}
.staff__item-title {
    /* Box Model */
    margin-top: 34px;
    /* Color */
    color: #656689;
    /* Text */
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1;
}
.staff-item__name {
    /* Box Model */
    margin-top: 14px;
    /* Color */
    color: var(--heading-text-color);
    /* Text */
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
}
.staff__cta-wrap {
    /* Flexbox Model */
    display: flex;
    justify-content: center;
    /* Box Model */
    margin-top: 48px;
}
.staff__cta {
    /* Variable */
    --min-width-btn: 193px;
}

/* ===== ===== ===== */
/* ++++++++++++++++  */
